<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zhaoqy.com.study">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎界面 -->
        <activity
            android:name=".start.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/baseTheme"/>

        <!-- 状态栏 -->
        <activity
            android:name=".statusbar.StatusBarActivity"
            android:label="@string/app_name"/>

        <!-- 自定义PopWindow -->
        <activity
            android:name=".popup.PopupWindowActivity"
            android:label="@string/app_name"/>

        <!-- 自定义ImageView -->
        <activity
            android:name=".img.ImageMainActivity"
            android:label="@string/app_name"/>

        <!-- VIP头像 -->
        <activity
            android:name=".img.vip.VipActivity"
            android:label="@string/app_name"/>

        <!-- 阴影图片 -->
        <activity
            android:name=".img.shadow.ShadowActivity"
            android:label="@string/app_name"/>

        <!-- 饼状图 -->
        <activity
            android:name=".pie.PieMainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".residelayout.ResideLayoutActivity"
            android:label="@string/app_name"
            android:theme="@style/BrownTheme"/>

        <!-- Picasso加载 -->
        <activity
            android:name=".img.load.PicassoActivity"
            android:label="@string/app_name"/>

        <!-- 自定义view -->
        <activity
            android:name=".customview.CustomActivity"
            android:label="@string/app_name"/>

        <!-- 自定义时间轴 -->
        <activity
            android:name=".customview.timeline.TimeLineActivity"
            android:label="@string/app_name"/>

        <!-- Dialog -->
        <activity
            android:name=".dialog.DialogActivity"
            android:label="@string/app_name"/>

        <!-- NiceDialog -->
        <activity
            android:name=".dialog.nice.NiceDialogActivity"
            android:label="@string/app_name"
            android:theme="@style/baseTheme"/>

        <!-- TextView -->
        <activity
            android:name=".textview.TextViewActivity"
            android:label="@string/app_name"/>

        <!-- 右上角带红点TextView -->
        <activity
            android:name=".textview.reddot.RedDotActivity"
            android:label="@string/app_name"/>

        <!-- 自定义倒计时 -->
        <activity
            android:name=".customview.countdown.CountdownActivity"
            android:label="@string/app_name"/>

        <!-- 自定义仪表盘 -->
        <activity android:name=".customview.speedcontrol.SpeedControlActivity"
                  android:label="@string/app_name" />

    </application>

</manifest>